/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "compass/css3";

body {
	background: url(../img/bg.gif);
	h1 {
		font-size: 50px;
		line-height: 3em;
		font-weight:bolder;
	}
	#catch {
		width:60%;
		margin:0 auto;
		line-height:1.8em;
		font-weight: bold;
		color:#333;
	}

}
